<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!-- Content for the Add page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField">Product name</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter the product name"
                    name="name" 
                    value="<%= product.name%>"
                    required>
                </div>


                <div class="form-group">
                    <label for="quantityTextField">Quantity</label>
                    <input type="text" class="form-control"
                    id="quantityTextField"
                    placeholder="Enter the quantity you want"
                    name="quantity" 
                    value="<%= product.quantity %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="priceTextField">Price</label>
                    <input type="text" class="form-control"
                    id="priceTextField"
                    placeholder="Enter the product's Price"
                    name="price" 
                    value="<%= product.price%>"
                    required>
                </div>

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>
                
                    <a href="/product-list" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>

            </form>
        </div>

    </div>
</div>


<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>